.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

label.required.form-label:after {
    content:"*";color:blue;
}

.modificationdate {
    font-style: italic;
    font-size: 0.8em;
}

.tabulator-popup-container {
    background-color: white;
}

.tabulator-edit-list .tabulator-edit-list-item:hover {
    color: #fff;
    background: #666;
}

.tabulator-edit-list .tabulator-edit-list-item.active {
    color: #000;
    background: #ccc;
}

/* select dropdown */

.grayout {
    color: #aaa;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1150px;
    }

}

.vtabs {
    margin: 0 auto;
    display: flex;
    
}
.vtabs_header {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.vtabs_header li {
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #efefef;
    color: #0d6efd;;
    cursor: pointer;
    transition: 0.3s;
}
.vtabs_header li.selected {
    background-color: #0d6efd;;
    color: #fff;
}
.vtab-content {
    padding: 10px;
    width: 100%;
}

.pv-tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.pv-tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }