.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

label.required.form-label:after {
    content:"*";color:blue;
}

.modificationdate {
    font-style: italic;
    font-size: 0.8em;
}

.tabulator-popup-container {
    background-color: white;
}

.tabulator-edit-list .tabulator-edit-list-item:hover {
    color: #fff;
    background: #666;
}

.tabulator-edit-list .tabulator-edit-list-item.active {
    color: #000;
    background: #ccc;
}
