.input-group.input-group-sm .dp__main.dp__theme_light {
	width: 40%;
}

.input-group.input-group-sm .dp__input {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: .875rem;
}

@media (min-width: 992px) {

    .vbformModal .modal-lg {
        max-width: 70%;
    }
    
    #vbFormWrapper .modal-content {
        height: 100%;
    }
}

.vertragshistorie .p-timeline-event-opposite {
    display: none;
}

.vertragshistorie.offcanvas-end {
    width: 600px;
}