.vbform_gueltigkeit .input-group.input-group-sm .dp__main.dp__theme_light {
	width: 40%;
}

.input-group.input-group-sm .dp__input {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: .875rem;
}

@media (min-width: 992px) {

    .vbformModal .modal-lg {
        max-width: 80%;
        height: calc(100% - 4em);
    }
    
    #vbFormWrapper .modal-content {
        height: 100%;
    }
}

.vertragshistorie .p-timeline-event-opposite {
    display: none;
}

.vertragshistorie.offcanvas-end {
    width: 700px;
}

.bg-dv {
    background-color: #6f42c1 !important;
}


.bg-allin, .bg-teilzeit {
    background-color: #6f42c1 !important;
}

.bg-karenz {
    background-color: #1f7762 !important;
}

.calendar-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1.9rem;
    padding: 6px 6px 10px 2px;
    box-sizing: content-box;
}

.refresh-issues {
    font-size: large;
    padding-left: 3px;
    color: black;
}

.p-autocomplete-panel {
    z-index: 99999 !important;
}

#vbFormWrapper .modal-body {
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
}

#vbFormWrapper .tab-content>.active {
    display: flex !important;
}

.scrollbar-gutter-stable {
    scrollbar-gutter: stable;
}

.scrollbar-gutter-stable-both {
    scrollbar-gutter: stable both-edges;
}

.stundensatzModal .modal-content {
    overflow: initial;
}

.stundensatzModal .modal-body {
    overflow-y: inherit;
}

.fhc_autocomplete_wrapper {
    line-height: 1;
}

.fhc_autocomplete_wrapper {
    line-height: 1;
}

.fhc_autocomplete_wrapper .p-autocomplete {
    width: 100%
}

.fhc_autocomplete_wrapper .p-autocomplete input {
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 0.9rem;
}

.fhc_autocomplete_wrapper .p-autocomplete .p-button, 
.fhc_autocomplete_wrapper .p-autocomplete .p-button:enabled:hover {
	background: #e9ecef;
	color: #212529;
	border: 1px solid #ced4da;
}
 /* TODO --hainberg Move to core Tabulator5.css? */
.tabulator .tabulator-footer .tabulator-footer-contents{
    font-size: small;
    background-color: white;
}

.dp-invalid-input{
    border-color: #dc3545;
}